* {
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/*********************** header *******************************/
/* CSS cho header */
.header {
    /* padding: 20px; */
    display: flex;
    background-color: #8b3329;
    justify-content: center;
    width: 100vw;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
/* CSS cho điện thoại di động */
@media (max-width: 767px) {
    body {
        font-size: 1.4rem; /* Giảm kích thước font chữ cho điện thoại di động */
    }

    .header {
        width: 100vw;
        padding: 10px; /* Giảm padding của header */
    }

    .logo img {
        width: 200px; /* Giảm kích thước hình ảnh logo cho điện thoại di động */
    }

    #app {
        width: 100%; /* Để phần này có chiều rộng 100% trên điện thoại di động */
        margin: 10px; /* Điều chỉnh khoảng cách biên */
    }

    /* Hiển thị canvas và hình ảnh trên điện thoại di động */
    canvas,
    #app img {
        display: block; /* Hiển thị các phần tử này */
    }

    /* Điều chỉnh nút trên điện thoại di động */
    .btn {
        padding: 20px 40px; /* Giảm kích thước nút */
    }

    /* Điều chỉnh font-size cho badge trên điện thoại di động */
    .badge {
        font-size: 1.6rem;
    }
    /* footer */
    .footer {
        padding: 10px;
        width: 100%;
    }
}
/*************************** Social */

.logo {
    margin-top: 10px;
    position: relative;
}
.logo img {
    width: 300px;
}
/* app chỉnh ảnh */

#app {
    margin: 20px auto;
    border-radius: 12px;
    /* border: 1px solid #bbbbbb; */
    /* width: 1110px; */
    border: 1px dotted #8f8a8a;
}

canvas,
#app img {
    display: none;
    max-width: 100%;
    margin: auto;
}

#adjustControls {
    display: block;
    margin-top: 20px;
}

#adjustControls p {
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
    height: 20px; /* Điều chỉnh chiều cao của thanh trượt */
}

#imageWrapper {
    position: relative;
    margin: auto;
}

#userImage {
    position: relative;
    margin: auto;

    z-index: 1;
}
#resultImage {
    margin: auto;
}
.btn {
    padding: 30px 60px;
    max-width: 300px;
    margin: 36px auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6rem;
}
.badge {
    font-size: 2rem;
}
.form-range {
}
/* ------------------Footer------------------- */
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.footer a {
    font-weight: 600;
}

/* hightlight */
.highlight {
    /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#ff8177),
        color-stop(0%, #ff867a),
        color-stop(21%, #ff8c7f),
        color-stop(52%, #f99185),
        color-stop(78%, #cf556c),
        to(#b12a5b)
    );
    background-image: -o-linear-gradient(
        left,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    background-image: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
