* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
h1 {
    margin-top: 20px;
}

#app {
    margin: 20px auto;
    border-radius: 12px;
    border: 1px solid #bbbbbb;
    width: 1110px;
}

canvas,
img {
    display: none;
    max-width: 100%;
    margin: auto;
}

#adjustControls {
    display: block;
    margin-top: 20px;
}

#adjustControls p {
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
}

#imageWrapper {
    position: relative;
    margin: auto;
}

#userImage {
    position: relative;
    margin: auto;

    z-index: 1;
}
#resultImage {
    margin: auto;
}
.btn {
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
    padding: 30px 60px;
    width: 100px;
    margin: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6rem;
}
